body {
  background: hsl(257, 40%, 49%);
  height: 100vh;
  position: relative;
  font-family: "Open Sans", sans-serif;
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/images/bg-desktop.svg");
  background-size: center center;
  background-repeat: no-repeat;
  z-index: -1;
}
.container {
  z-index: 2;
  margin: 0px 5rem;
  margin-bottom: 100px;
  .logo {
    margin-top: 60px;
    margin-bottom: 110px;
  }
  .mainBox {
    flex-direction: row;
    flex-wrap: wrap;

    color: white;
    .main-img {
      flex: 3;
      margin-right: 60px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .main-text {
      flex: 2;
      margin-top: 29px;
      .main-tag {
        h1 {
          font-family: "Poppins", "sans-serif";
          font-weight: 700;
          font-size: 32px;
          letter-spacing: 0.03rem;
        }
      }
      .description {
        color: rgb(245, 238, 238);
        line-height: 1.5rem;
        letter-spacing: 0.05rem;
        font-weight: 400;
      }
      .register {
        display: block;
        background: white;
        color: hsl(257, 40%, 49%);
        padding: 20px 65px;
        border: none;
        border-radius: 40px;
        font-size: 1rem;
        cursor: pointer;
        box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.4);
      }
    }
  }
  .logoBox {
    flex-direction: row;
    width: 100%;
    margin-top: 15px;
    justify-content: flex-end;
    .socials {
      #facebook {
        width: 46px;
      }
      .social {
        text-align: center;
        padding: 10px;
        color: white;
        font-size: 25px;
        border-radius: 50%;
        border: 1px solid white;
        margin-right: 20px;
      }
    }
  }
}
@media (max-width: 475px) {
  .bg {
    background-image: url("/images/bg-mobile.svg");
  }
  .container {
    margin: 0px 40px;
    .logo {
      margin-bottom: 70px;
      width: 250px;
      height: 50px;
      left: -37px;
      position: relative;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .mainBox {
      flex-direction: column;
      .main-img {
        flex: 1;
        margin: 0;
      }
      .main-text {
        flex: 1;
        .main-tag {
          h1 {
            font-size: 24px;
            font-weight: 400;
          }
        }
        .description {
          padding: 0 10px;
        }
        .register {
          margin: 0 auto;
        }
      }
    }
    .logoBox {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .socials {
        margin-left: 20px;
        #facebook {
          width: 28px;
        }
        .social {
          font-size: 12px;
          padding: 7px;
        }
      }
    }
  }
}
